<section class="calc">

    <div class="container position-relative">
        <div class="top-plus position-absolute d-flex flex-wrap flex-sm-row flex-column">
            <div class="top-plus__card me-sm-3 me-0 mb-3">
                <div class="substrate-calc"></div>
                <div class="top-plus__content d-flex flex-sm-column align-items-sm-start flex-row align-items-center">
                    <img class="top-plus__img mb-sm-3 mb-0 me-sm-0 me-3" src="img/4-calc/calc-1.png" alt="">
                    <p class="top-plus__text">
                        Помогли взять более <span>15 МЛН РУБЛЕЙ</span>
                    </p>
                </div>
            </div>
            <div class="top-plus__card me-sm-3 me-0 mb-3">
                <div class="substrate-calc"></div>
                <div class="top-plus__content d-flex flex-sm-column align-items-sm-start flex-row align-items-center">
                    <img class="top-plus__img mb-sm-3 mb-0 me-sm-0 me-3" src="img/4-calc/calc-2.png" alt="">
                    <p class="top-plus__text">
                        Более <span>50 БАНКОВ </span> партнеров
                    </p>
                </div>
            </div>
            <div class="top-plus__card me-sm-3 me-0 mb-3">
                <div class="substrate-calc"></div>
                <div class="top-plus__content d-flex flex-sm-column align-items-sm-start flex-row align-items-center">
                    <img class="top-plus__img mb-sm-3 mb-0 me-sm-0 me-3" src="img/4-calc/calc-3.png" alt="">
                    <p class="top-plus__text">
                        Одобрения с <span>ПЛОХОЙ ИСТОРИЕЙ</span> кредита
                    </p>
                </div>
            </div>
            <div class="top-plus__card">
                <div class="substrate-calc"></div>
                <div class="top-plus__content d-flex flex-sm-column align-items-sm-start flex-row align-items-center">
                    <img class="top-plus__img mb-sm-3 mb-0 me-sm-0 me-3" src="img/4-calc/calc-4.png" alt="">
                    <p class="top-plus__text">
                        <span>БЕЗ СПРАВОК</span> и поручителей
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex align-items-end position-relative">
        <div class="calc__row position-relative">
            <h3 class="calc__title position-absolute">Рассчитать кредит</h3>
            <div class="credit-yes mb-lg-5 mb-4 d-flex">
                <div class="credit-yes__block d-flex align-items-center flex-sm-row flex-column-reverse">
                    <p class="credit-yes__text me-sm-2 me-0">Процент одобрения <br> кредита</p>
                    <p class="credit-yes__title mb-sm-0 mb-2">95%</p>
                </div>
                <div class="credit-yes__block me-0 d-sm-flex d-none align-items-center justify-content-between">
                    <p class="credit-yes__text me-2">Процентная <br> ставка</p>
                    <p class="credit-yes__title">4%</p>
                </div>
            </div>
            <div class="calc__box">
                <div class="calc__box--left-wrap mb-xl-5 mb-4">
                    <div class="calc__input-group calc__input-group--top">
                        <p class="calc__input-text-left"><label for="sum">СУММА КРЕДИТА</label></p>
                        <p class="calc__input-text-right">₽</p>
                        <input id="sum" type="text" value="5000000" class="calc__input calc__input--sum mb-2">
                        <div class="calc__input-row mb-3">
                            <p class="calc__input-text">от 300 тыс.</p>
                            <p class="calc__input-text">до 20 млн.</p>
                        </div>
                        <div class="kviz__ansver active no_change">
                            <div class="range-box">
                                <div class="range">
                                    <span class="range__track range__track--sum"></span>
                                    <input class="range__input range__input--sum" type="range" min="300000"
                                        max="20000000" value="5000000" step="1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.calc__input-group -->

                    <div class="calc__input-group">
                        <p class="calc__input-text-left"><label for="time">СРОК КРЕДИТА</label></p>
                        <p class="calc__input-text-right calc__input-text-right--date">лет</p>
                        <input id="time" type="text" value="5" class="calc__input calc__input--time mb-2">
                        <div class="calc__input-row mb-3">
                            <p class="calc__input-text">от 1 года</p>
                            <p class="calc__input-text">до 10 лет.</p>
                        </div>
                        <div class="kviz__ansver active no_change">
                            <div class="range-box">
                                <div class="range">
                                    <span class="range__track range__track--time"></span>
                                    <input class="range__input range__input--time" type="range" min="1" max="10"
                                        value="5" step="1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.calc__input-group -->
                </div>
            </div>

            <div class="calc__box mb-0">
                <div class="calc-offer__wrap">
                    <h5 class="calc-offer__title d-sm-block d-none">Наше предложение</h5>
                    <div class="calc-offer--mobile d-sm-none d-flex justify-content-between align-items-center">
                        <h5 class="calc-offer__title">Наше предложение</h5>

                        <div
                            class="credit-yes__block credit-yes__block--mobile me-0 d-flex align-items-center justify-content-between">
                            <p class="credit-yes__text credis-yes__text--mobile me-1">Процентная <br class="d-block">
                                ставка</p>
                            <p class="credit-yes__title credis-yes__title--mobile">4%</p>
                        </div>
                    </div>
                    <p class="calc-offer__text d-sm-none d-block mb-2 mx-auto">ежемесячный платеж</p>

                    <div class="calc-offer__box mb-4">
                        <p class="calc-offer__text d-sm-inline-block d-none">Ваш ежемесячный платеж составляет:</p>
                        <p class="calc__pt">92083 ₽</p>
                    </div>
                </div>
                <button class="btn-general calc-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Заполнить
                    заявку</button>
            </div>
        </div>
        <!-- <img class="money-bag" src="../img/4-calc/c-money-bag.png" alt=""> -->
        <img class="money-bag" src="img/4-calc/bag-money-big.png" alt="">
        <img class="c-element-one-abs position-absolute" src="img/4-calc/c-element-one.png" alt="">
        <!-- <img class="c-element-one-abs position-absolute" src="../img/4-calc/c-element-two.png" alt=""> -->
        <!-- <img class="c-element-one-abs position-absolute" src="../img/4-calc/c-element-three.png" alt=""> -->
    </div>

</section>