<section class="endorsement position-relative overflow-hidden">
    <div class="container">
        <div class="endorsement-block position-relative">
            <h2 class="title-medium title-endorsement">Поможем получить кредит <br> <span>даже если у вас:</span></h2>
            <div
                class="endorsement-content d-flex justify-content-center flex-wrap flex-sm-row flex-column align-items-sm-start align-items-center">
                <div class="endorsement-content__card d-flex align-items-center overflow-hidden mx-auto mb-3">
                    <img class="endorsement-img-1 me-2" src="../img/6-endorsement/e-calendar.png" alt="">
                    <p class="endorsement-content-card__text">Плохая кредитная история</p>
                </div>

                <div class="endorsement-content__card d-flex align-items-center overflow-hidden mx-auto mb-3">
                    <img class="endorsement-img-2 me-2" src="../img/6-endorsement/e-list.png" alt="">
                    <p class="endorsement-content-card__text">Отказали банки</p>
                </div>

                <div class="endorsement-content__card d-flex align-items-center overflow-hidden mx-auto mb-3">
                    <img class="endorsement-img-3 me-2" src="../img/6-endorsement/e-clock.png" alt="">
                    <p class="endorsement-content-card__text">Кредит с просрочками</p>
                </div>

                <div class="endorsement-content__card d-flex align-items-center overflow-hidden mx-auto mb-3">
                    <img class="endorsement-img-4 me-2" src="../img/6-endorsement/e-bag.png" alt="">
                    <p class="endorsement-content-card__text">Кредит без официального трудоустройства</p>
                </div>
            </div>
            <div class="some-block position-relative">
                <h2 class="title-medium title-some mb-0">Немного <br> <span>о нашей компании</span>
                </h2>
                <h1 class="endorsement-big position-absolute">одобрение</h1>
            </div>
            <div class="sert-block d-flex align-items-center flex-md-row flex-column-reverse ">
                <div class="sert-card d-sm-flex d-none">
                    <img class="sert-card__img me-3 mt-md-0 mt-3" src="img/6-endorsement/ser-1.png" alt="">
                    <img class="sert-card__img me-3 mt-md-0 mt-3" src="img/6-endorsement/ser-2.png" alt="">
                    <img class="sert-card__img mt-md-0 mt-3" src="img/6-endorsement/ser-3.png" alt="">
                </div>

                <p class="sert-block__text">Компания «Одобрение» работает исключительно в Ваших интересах, на
                    результат в одобрение и выдаче кредитов своим клиентам.
                    Обратившись к нам, вы в первую очередь получаете консультацию от ведущих профессионалов рынка, так
                    как у нас работают люди исключительно с финансовым
                    и экономическим образованием, бывшие сотрудники банков в городе Москва, которые имеют огромный опыт
                    и знания банковской системы изнутри.</p>
            </div>

            <div class="slider-endorsement swiper-container d-sm-none d-flex">
                <div class="endorsement-wrapper swiper-wrapper">
                    <div class="endorsement-slide swiper-slide">
                        <img class="endorsement-slide__picture" src="img/6-endorsement/ser-1.png" alt="">
                    </div>
                    <div class="endorsement-slide swiper-slide">
                        <img class="endorsement-slide__picture" src="img/6-endorsement/ser-2.png" alt="">
                    </div>
                    <div class="endorsement-slide swiper-slide">
                        <img class="endorsement-slide__picture" src="img/6-endorsement/ser-3.png" alt="">
                    </div>
                </div>
            </div>
            <img class="e-element-one-abs position-absolute" src="img/6-endorsement/e-element-one-abs.png" alt="">
            <img class="e-element-two-abs position-absolute" src="img/6-endorsement/e-element-two-abs.png" alt="">
        </div>

    </div>
    <img class="e-logo position-absolute" src="../img/6-endorsement/e-logo.png" alt="">
</section>