<section class="footer">
    <div class="container">
        <div
            class="footer-block d-sm-flex d-none justify-content-between align-items-lg-start align-items-center flex-lg-row flex-column">

            <div class="footer-one d-flex flex-column align-items-center">
                <img class="f-logo mb-1" src="img/13-footer/f-logo.png" alt="">
                <ul class="f-list ps-lg-4 ps-0 mb-0 d-flex flex-column align-items-lg-start align-items-center">
                    <li class="f-list-item">График работы:</li>
                    <li class="f-list-item">ПН - СБ 8:00 - 21:00
                    </li>
                </ul>
            </div>

            <div class="footer-two d-flex flex-column align-items-lg-start align-items-center">
                <ul class="f-list f-list__element d-flex position-relative">
                    <li class=""><a class="f-list-item f-list-item__color me-xl-3 me-2" href="#reg">Преимущества</a>
                    </li>
                    <li class=""><a class="f-list-item f-list-item__color me-xl-3 me-2" href="#endo">Условия</a></li>
                    <li class=""><a class="f-list-item f-list-item__color me-xl-3 me-2" href="#about-us">О компании</a>
                    </li>
                    <li class=""><a class="f-list-item f-list-item__color me-xl-3 me-2" href="#what">Как получить</a>
                    </li>
                    <li class=""><a class="f-list-item f-list-item__color me-xl-3 me-2" href="#questions">FAQ</a></li>
                    <li class=""><a class="f-list-item f-list-item__color" href="#reviews">Отзывы</a></li>
                </ul>
                <p class="footer-addres">г. Москва, ул. Кремлевская, д. 12, оф. 512</p>
            </div>

            <div class="footer-three d-flex flex-column align-items-lg-start align-items-center">
                <p class="f-list-item mb-xl-4 mb-2">Не является публичной офертой</p>
                <p class="f-list-item">Подбор кредитно-финансовых услуг, <br>
                    квалифицированная помощь юристов</p>
            </div>
        </div>

        <div class="footer-mobile d-sm-none d-flex align-items-center flex-column">
            <div class="footer-mobile__content">
                <img class="f-logo mb-4" src="img/13-footer/f-logo.png" alt="">
                <div class="footer-list-mobile-block d-flex justify-content-between">
                    <ul class="footer-list-mobile">
                        <li class="mb-2"><a class="f-list-item f-list-item__color" href="#reg">Преимущества</a></li>
                        <li class="mb-2"><a class="f-list-item f-list-item__color" href="#endo">Условия</a></li>
                        <li class="mb-2"><a class="f-list-item f-list-item__color" href="#about-us">О компании</a></li>
                        <li class="mb-2"><a class="f-list-item f-list-item__color" href="#what">Как получить</a></li>
                        <li class="mb-2"><a class="f-list-item f-list-item__color" href="#questions">FAQ</a></li>
                        <li class="mb-2"><a class="f-list-item f-list-item__color" href="#reviews">Отзывы</a></li>
                    </ul>
                    <div class="double-block__list">
                        <p class="footer-mob-text">График работы:</p>
                        <p class="footer-mob-text position-relative">ПН - СБ <br>8:00 - 21:00</p>
                        <p class="footer-mob-text">г. Москва <br> ул. Кремлевская <br> д. 12, оф. 512</p>
                    </div>
                </div>
                <div class="footer-three position-relative d-flex flex-column align-items-lg-start align-items-center">
                    <p class="f-list-item mb-3">Не является публичной офертой</p>
                    <p class="f-list-item">Подбор кредитно-финансовых услуг, <br>
                        квалифицированная помощь юристов</p>
                </div>
            </div>
        </div>
    </div>
</section>