<section class="header position-relative">
    <div class="container">
        <h2 class="title-header mb-1">
            Получите <br><span>100%</span> одобрение
        </h2>
        <p class="header-six mb-2 position-relative">по ставке <span>от 4%</span></p>
        <p class="header-text mb-3">Даже с испорченной кредитной историей!</p>
        <button class="btn-general btn-header d-sm-block d-none" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">Подать заявку</button>

        <div class="header-card d-sm-flex d-none flex-wrap flex-sm-row flex-column">

            <div class="header-card__element position-relative me-4 mb-md-0 mb-3">
                <div class="header-card__top d-flex align-items-start mb-2">
                    <img class="header-card__img me-1" src="img/3-header/h-calendar.png" alt="">
                    <p class="header-card__text">Без проверки <br> кредитной истории</p>
                </div>
                <p class="header-card__info">Нам не важно на сколько <br>
                    плохая у Вас кредитная история</p>
            </div>

            <div class="header-card__element position-relative me-4 mb-md-0 mb-3">
                <div class="header-card__top d-flex align-items-start mb-2">
                    <img class="header-card__img me-1" src="img/3-header/h-bag.png" alt="">
                    <p class="header-card__text">Без официального <br> трудоустройства</p>
                </div>
                <p class="header-card__info">У нас вы можете оформить <br>
                    от 100 тыс. до 5 млн. руб.</p>
            </div>

            <div class="header-card__element position-relative mb-md-0 mb-3">
                <div class="header-card__top d-flex align-items-start mb-2">
                    <img class="header-card__img me-1" src="img/3-header/h-money.png" alt="">
                    <p class="header-card__text">Кредит <br>
                        на любые цели</p>
                </div>
                <p class="header-card__info">Кредит на выгодных условиях <br>
                    и без дополнительных услуг</p>
            </div>
        </div>
    </div>
    <div class="container mobile-content d-sm-none d-block">
        <div class="header-card flex-wrap flex-sm-row flex-column">

            <div class="header-card__element position-relative me-4 mb-md-0 mb-4">
                <div class="header-card__top d-flex align-items-sm-end align-items-center mb-2">
                    <img class="header-card__img me-1" src="img/3-header/h-calendar.png" alt="">
                    <p class="header-card__text mt-1">Без проверки <br> кредитной истории</p>
                </div>
                <p class="header-card__info">Нам не важно на сколько <br>
                    плохая у Вас кредитная история</p>
            </div>

            <div class="header-card__element position-relative me-4 mb-md-0 mb-4">
                <div class="header-card__top d-flex align-items-sm-end align-items-center mb-2">
                    <img class="header-card__img me-1" src="img/3-header/h-bag.png" alt="">
                    <p class="header-card__text mt-1">Без официального <br> трудоустройства</p>
                </div>
                <p class="header-card__info">У нас вы можете оформить <br>
                    от 100 тыс. до 5 млн. руб.</p>
            </div>

            <div class="header-card__element header-card__element--before position-relative mb-md-0 mb-4">
                <div class="header-card__top d-flex align-items-sm-end align-items-center mb-2">
                    <img class="header-card__img me-1" src="img/3-header/h-money.png" alt="">
                    <p class="header-card__text mt-1">Кредит <br>
                        на любые цели</p>
                </div>
                <p class="header-card__info">Кредит на выгодных условиях <br>
                    и без дополнительных услуг</p>
            </div>

            <button class="btn-general btn-header d-sm-none d-block" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">Подать заявку</button>

        </div>
    </div>
    <img class="h-one-element position-absolute" src="img/3-header/h-one-element.png" alt="">
    <img class="h-two-element position-absolute" src="img/3-header/h-two-element.png" alt="">
    <img class="h-three-element position-absolute" src="img/3-header/h-three-element.png" alt="">
</section>