<section class="help position-relative overflow-hidden">
    <div class="container">
        <div class="help-content d-flex flex-column align-items-center">
            <h2 class="title-medium title-help mb-5">
                НУЖНА ПОМОЩЬ <br> <span>В ПОЛУЧЕНИИ <br class="d-sm-none d-block"> КРЕДИТА В МОСКВЕ?</span>
            </h2>
            <p class="help-text">
                С нами вы получите одобрение по кредиту <br> <span>по ставке от 4%</span>, даже с плохой кредитной
                историей
            </p>
            <form class="help-form d-flex w-100 justify-content-center mb-3" action="">
                <input class="input-form me-3" type="text" placeholder="Ваше имя">
                <input class="input-form me-3" type="tel" placeholder="Телефон">
                <button class="btn-general btn-help" type="submit">Подать заявку</button>
            </form>
            <p class="help-info">Нажимая кнопку “Заполнить заявку” вы соглашаетесь с Политикой конфеденциальности нашей
                компании</p>
        </div>
    </div>
    <img class="h-man position-absolute" src="img/7-help/h-man.png" alt="">
    <img class="h-bag-money position-absolute" src="img/7-help/h-bag-money.png" alt="">
    <img class="help-abs-1 position-absolute" src="img/7-help/help-abs-1.png" alt="">
    <img class="help-abs-2 position-absolute" src="img/7-help/help-abs-2.png" alt="">
</section>