<nav class="nav position-relative">

    <div class="container">
        <div class="nav-top d-flex justify-content-between align-items-center py-2">
            <a class="d-md-none d-block" href="tel:8 800 800 80 80">
                <img class="nav-mob" src="../img/2-nav/nav-mob.png" alt="">
            </a>
            <a href="../index.html">
                <img class="logo" src="../img/2-nav/logo.png" alt="logo">
            </a>
            <p class="nav-text d-md-inline d-none">Помощь в получении кредита в Москве</p>
            <div class="number-block d-md-flex d-none align-items-center">
                <img class="nav-mob me-2" src="../img/2-nav/nav-mob.png" alt="">
                <a class="nav-tel" href="tel:8 800 800 80 80">8 800 800 80 80 <span>Заказать звонок</span></a>
            </div>
            <img class="burger d-md-none d-block" src="../img/2-nav/burder.png" alt="">
        </div>
    </div>

    <div class="nav-bot w-100 py-2">
        <div class="container">
            <div class="nav-bot-block d-flex justify-content-center align-items-center">
                <ul class="nav-list d-md-flex d-none">
                    <li class="nav-list__item"><a href="#" class="nav-list__item--link text-white">преимущества</a></li>
                    <li class="nav-list__item"><a href="#" class="nav-list__item--link text-white">условия</a></li>
                    <li class="nav-list__item"><a href="#" class="nav-list__item--link text-white">о компании</a></li>
                    <li class="nav-list__item"><a href="#" class="nav-list__item--link text-white">как получить</a></li>
                    <li class="nav-list__item"><a href="#" class="nav-list__item--link text-white">faq</a></li>
                    <li class="nav-list__item me-0"><a href="#" class="nav-list__item--link text-white">отзывы</a></li>
                </ul>
                <p class="nav-bot__text d-md-none d-inline">
                    Помощь в получении кредита в Москве
                </p>
            </div>
        </div>
    </div>
    <div class="mobile-menu position-absolute">
        <ul class="nav-list d-flex flex-column position-relative">
            <li class="nav-list__item me-0 mb-3"><a href="#" class="nav-list__item--link text-white">преимущества</a>
            </li>
            <li class="nav-list__item me-0 mb-3"><a href="#" class="nav-list__item--link text-white">условия</a></li>
            <li class="nav-list__item me-0 mb-3"><a href="#" class="nav-list__item--link text-white">о компании</a></li>
            <li class="nav-list__item me-0 mb-3"><a href="#" class="nav-list__item--link text-white">как получить</a>
            </li>
            <li class="nav-list__item me-0 mb-3"><a href="#" class="nav-list__item--link text-white">faq</a></li>
            <li class="nav-list__item me-0"><a href="#" class="nav-list__item--link text-white">отзывы</a></li>
            <img class="closed position-absolute" src="../img/2-nav/closed.png" alt="">
        </ul>
    </div>
</nav>