<section id="questions" class="questions">
    <img class="ques-abs position-absolute" src="img/10-questions/ques-abs.png" alt="">
    <img class="big-pack position-absolute" src="img/10-questions/big-pack.png" alt="">
    <div class="container">
        <div class="questions-block">
            <h2 class="title-medium title-questions">Остались вопросы?</h2>
            <div class="questions-content d-flex justify-content-center align-items-start">
                <img class="questions-telephone" src="img/10-questions/telephone.png" alt="">

                <div class="dsfsfd d-flex flex-column">
                    <div class="questions__question">
                        <p class="questions__question-title questions__question-title--active">Какие документы
                            необходимы для получения кредита?</p>
                        <p class="questions__question-content questions__question-content--active">Если Вы повторно
                            обращаетесь к нам или даёте рекомендацию знакомым, то получаете скидку 10% на наши услуги
                        </p>
                    </div>
                    <!-- /.questions__question -->
                    <div class="questions__question">
                        <p class="questions__question-title">Как мне получить скидку на услуги?
                        </p>
                        <p class="questions__question-content">Да, у нас есть скидочная система. Например, при повторном
                            обращении вы получите скидку в 10% на услуги нашей компании. Также, если по вашей
                            рекомендации к нам обращается другой клиент, мы предоставим вам скидку в 10%.</p>
                    </div>
                    <!-- /.questions__question -->
                    <div class="questions__question">
                        <p class="questions__question-title">Какие требования к заемщику?</p>
                        <p class="questions__question-content">Работаем с каждым, кто хочет оформить кредит, но по
                            каким-то причинам у него это не получается. Специальных требований к заемщику нет.</p>
                    </div>
                    <!-- /.questions__question -->
                    <div class="questions__question">
                        <p class="questions__question-title">Нужно ли оплачивать Ваши услуги при <br> отрицательном
                            решении банка?</p>
                        <p class="questions__question-content">Нет. Оплата наших услуг происходит только при
                            положительном решении банка и только после того, как вы получили деньги.</p>
                    </div>
                    <!-- /.questions__question -->
                    <div class="questions__question mb-0">
                        <p class="questions__question-title">У меня плоха кредитная история, постоянно <br> отказывают
                            банки, вы можете мне помочь?
                        </p>
                        <p class="questions__question-content">Да. Мы помогаем именно в тех случаях, когда у клиента
                            испорчена кредитная история. Но универсальных решений у нас нет. Каждый случай изучаем
                            отдельно и предлагаем индивидуальное решение.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>