<section class="quiz position-relative">
    <img class="q-hand-money position-absolute" src="../img/8-quiz/q-hand-money.png" alt="">
    <div class="container">

        <h2 class="title-medium title-top">Просто <br><span>как "раз-два-три"</span></h2>

        <div class="top-number d-flex flex-md-row flex-column">
            <div class="top-number-block d-flex flex-md-column flex-row  position-relative me-md-5 me-0 mb-md-0 mb-5">
                <div class="top-number__element mb-3 d-flex justify-content-center align-items-center">
                    <h4 class="top-number__element--item">01</h4>
                </div>
                <div class="pt-md-0 pt-3 ms-md-0 ms-3">
                    <p class="top-number-step mb-1">Оставляете заявку</p>
                    <p class="top-number__text">Перезвоним в течение
                        15 минут, проведем
                        анализ Вашей ситуации</p>
                </div>
                <h1 class="top-number-bigger position-absolute">1</h1>
                <img class="position-absolute dot-1 d-md-block d-none" src="../img/8-quiz/dot-1.png" alt="">
            </div>

            <div
                class="top-number-block d-flex flex-md-column flex-row  position-relative me-md-5 me-0 mb-md-0 mb-5 ms-md-0 ms-sm-5 ms-0">
                <div class="top-number__element mb-3 d-flex justify-content-center align-items-center">
                    <h4 class="top-number__element--item">02</h4>
                </div>
                <div class="pt-md-0 pt-3 ms-md-0 ms-3">
                    <p class="top-number-step mb-1">Встреча
                        в офисе</p>
                    <p class="top-number__text">Заключаем договор, подбор оптимальной программы кредитования</p>
                </div>
                <h1 class="top-number-bigger position-absolute">2</h1>
                <img class="position-absolute dot-2 d-md-block d-none" src="../img/8-quiz/dot-2.png" alt="">
            </div>

            <div class="top-number-block d-flex flex-md-column flex-row  position-relative">
                <div class="top-number__element mb-3 d-flex justify-content-center align-items-center">
                    <h4 class="top-number__element--item">03</h4>
                </div>
                <div class="pt-md-0 pt-3 ms-md-0 ms-3">
                    <p class="top-number-step mb-1">Получаете деньги</p>
                    <p class="top-number__text">Быстрое и выгодное одобрение, выдача кредита в банке</p>
                </div>
                <h1 class="top-number-bigger position-absolute">3</h1>

            </div>
        </div>

        <!-- quiz-1 -->
        <div class="quiz-content position-relative">
            <div class="quiz-substrate position-absolute"></div>
            <div class="quiz-block d-flex justify-content-end position-relative">
                <div class="quiz-element">
                    <h3 class="title-medium title-quiz mb-2">Узнать ставку сейчас</h3>
                    <p class="quiz-go">Пройдите небольшой тест и узнайте свою ставку по кредиту (всего 3 вопроса)</p>

                    <form class="quiz-form">

                        <h4 class="quiz-questions__title">Какой вид кредита вас интересует?</h4>

                        <div class="quiz-questiions d-flex flex-column flex-wrap">
                            <label class="quiz-label d-block m-1 position-relative" for="">
                                <input class="quiz-input" checked name="type" type="radio">
                                <p class="quiz-label__text">Кредит наличными</p>
                            </label>
                            <label class="quiz-label d-block m-1 position-relative" for="">
                                <input class="quiz-input" name="type" type="radio">
                                <p class="quiz-label__text">Автокредит</p>
                            </label>
                            <label class="quiz-label d-block m-1 position-relative" for="">
                                <input class="quiz-input" name="type" type="radio">
                                <p class="quiz-label__text">Карта рассрочки</p>
                            </label>
                        </div>

                        <div class="quiz-btn px-1">
                            <button class="btn-general btn-next">Далее</button>
                        </div>
                    </form>
                </div>
                <img class="q-book position-absolute" src="../img/8-quiz/q-book.png" alt="">
            </div>
        </div>

        <!-- quiz-2 -->
        <div class="quiz-content position-relative d-none">
            <div class="quiz-substrate quiz-substrate-four position-absolute"></div>
            <div class="quiz-block d-flex justify-content-end position-relative">
                <div class="quiz-element">
                    <h3 class="title-medium title-quiz mb-2">Узнать ставку сейчас</h3>
                    <p class="quiz-go">Пройдите небольшой тест и узнайте свою ставку по кредиту (всего 3 вопроса)</p>

                    <form class="quiz-form">

                        <h4 class="quiz-questions__title">Укажите сумму кредита?</h4>

                        <div class="quiz-questiions quiz-four-label d-flex flex-column flex-wrap">
                            <label class="quiz-label d-block m-1 position-relative" for="">
                                <input class="quiz-input" checked name="type" type="radio">
                                <p class="quiz-label__text">От 100 000 до 500 000 руб.</p>
                            </label>
                            <label class="quiz-label d-block m-1 position-relative" for="">
                                <input class="quiz-input" name="type" type="radio">
                                <p class="quiz-label__text">От 500 000 до 1 000 000 руб.</p>
                            </label>
                            <label class="quiz-label d-block m-1 position-relative" for="">
                                <input class="quiz-input" name="type" type="radio">
                                <p class="quiz-label__text">От 1 мил. до 10 млн. руб.</p>
                            </label>
                            <label class="quiz-label d-block m-1 position-relative" for="">
                                <input class="quiz-input" name="type" type="radio">
                                <p class="quiz-label__text">Более 10 млн. руб.</p>
                            </label>
                        </div>

                        <div class="quiz-btn px-1">
                            <button class="btn-general btn-prev me-2">Назад</button>
                            <button class="btn-general btn-next">Далее</button>
                        </div>
                    </form>
                </div>
                <img class="q-two position-absolute" src="../img/8-quiz/q-two.png" alt="">
            </div>
        </div>

        <!-- quiz-3 -->
        <div class="quiz-content position-relative d-none">
            <div class="quiz-substrate quiz-substrate-seven position-absolute"></div>
            <div class="quiz-block d-flex justify-content-end position-relative">
                <div class="quiz-element">
                    <h3 class="title-medium title-quiz mb-2">Узнать ставку сейчас</h3>
                    <p class="quiz-go">Пройдите небольшой тест и узнайте свою ставку по кредиту (всего 3 вопроса)</p>

                    <form class="quiz-form">

                        <h4 class="quiz-questions__title">Какой вид кредита вас интересует?</h4>

                        <div class="quiz-questiions quiz-seven-label d-flex flex-column flex-wrap">
                            <label class="quiz-label d-block m-1 position-relative" for="">
                                <input class="quiz-input" checked name="type" type="radio">
                                <p class="quiz-label__text">Плохая кредитная история</p>
                            </label>
                            <label class="quiz-label d-block m-1 position-relative" for="">
                                <input class="quiz-input" name="type" type="radio">
                                <p class="quiz-label__text">Неоф. трудоустройство</p>
                            </label>
                            <label class="quiz-label d-block m-1 position-relative" for="">
                                <input class="quiz-input" name="type" type="radio">
                                <p class="quiz-label__text">Судимость</p>
                            </label>
                            <label class="quiz-label d-block m-1 position-relative" for="">
                                <input class="quiz-input" name="type" type="radio">
                                <p class="quiz-label__text">Не проблем</p>
                            </label>
                            <label class="quiz-label d-block m-1 position-relative" for="">
                                <input class="quiz-input" name="type" type="radio">
                                <p class="quiz-label__text">Отсутствие прописки</p>
                            </label>
                            <label class="quiz-label d-block m-1 position-relative" for="">
                                <input class="quiz-input" name="type" type="radio">
                                <p class="quiz-label__text">Кредит с просрочками</p>
                            </label>
                            <label class="quiz-label d-block m-1 position-relative" for="">
                                <input class="quiz-input" name="type" type="radio">
                                <p class="quiz-label__text">Отказали банки</p>
                            </label>
                        </div>

                        <div class="quiz-btn px-1">
                            <button class="btn-general btn-prev me-2">Назад</button>
                            <button class="btn-general btn-next">Далее</button>
                        </div>
                    </form>
                </div>
                <img class="q-three position-absolute" src="../img/8-quiz/q-three.png" alt="">
            </div>
        </div>

        <!-- quiz-3 -->
        <div class="quiz-content position-relative d-none">
            <div class="quiz-substrate quiz-sabstrate-last position-absolute"></div>
            <div class="quiz-block d-flex justify-content-end position-relative">
                <div class="quiz-element">
                    <h3 class="title-medium title-quiz-last mb-4 text-start">Предварительно <br> одобрен</h3>
                    <p class="quiz-six-text">кредит по ставке 6% годовых</p>
                    <p class="quiz-go quiz-go-last">Мы работаем с самыми крупными банками России, вероятность одобрения
                        кредита
                        с нашей помощью составляет 99%!</p>

                    <form class="quiz-form">

                        <h4 class="quiz-questions__title">Успей получить кредит сейчас!</h4>

                        <div class="quiz-questiions d-flex flex-column flex-wrap">
                            <input placeholder="+ 7 (___) ___ - __ - __" type="tel" class="input-quiz-last"></input>
                        </div>

                        <div class="quiz-btn px-1">
                            <button class="btn-general btn-last">Оставить заявку</button>
                        </div>
                    </form>
                </div>
                <img class="q-four position-absolute" src="../img/8-quiz/q-four.png" alt="">
            </div>
        </div>
    </div>
</section>