<section id="reg" class="registration position-relative">
    <div class="container px-3">
        <div class="registration-block position-relative">
            <img class="r-man position-absolute d-md-block d-none" src="img/5-registration/r-man.png" alt="">
            <img class="r-man-mob position-absolute d-md-none d-block" src="img/5-registration/r-man-mob.png" alt="">
            <h2 class="title-medium title-registration">
                Оформим кредит <br> <span>на выгодных условиях</span>
            </h2>
            <div class="registration-content d-flex justify-content-between flex-md-row flex-column ps-md-0 ps-2">
                <div class="registration-content-elements d-flex flex-column">
                    <div class="registration-contents-element__item d-flex flex-column align-items-start">
                        <h4 class="registrations-contents__title mb-3">Потребительский кредит</h4>
                        <ul class="registration-list ps-3">
                            <li class="registration-list__item">На любые цели <br> наличными</li>
                        </ul>
                    </div>

                    <div class="registration-contents-element__item d-flex flex-column align-items-start">
                        <h4 class="registrations-contents__title mb-3">Кредит для бизнеса</h4>
                        <ul class="registration-list ps-3">
                            <li class="registration-list__item mb-1">На открытие бизнеса</li>
                            <li class="registration-list__item">На развитие бизнеса</li>
                        </ul>
                    </div>

                    <div class="registration-contents-element__item mb-0 d-flex flex-column align-items-start">
                        <h4 class="registrations-contents__title mb-3">Кредит на строительство</h4>
                        <ul class="registration-list ps-3">
                            <li class="registration-list__item mb-1">На строительство дома</li>
                            <li class="registration-list__item mb-1"> На строительство коттеджа</li>
                            <li class="registration-list__item"> На строительство дачи</li>
                        </ul>
                    </div>
                </div>

                <div class="registration-content-elements d-flex flex-column">
                    <div class="registration-contents-element__item d-flex flex-column align-items-start">
                        <h4 class="registrations-contents__title mb-3">Автокредитование</h4>
                        <ul class="registration-list ps-3">
                            <li class="registration-list__item mb-1">На новый автомобиль</li>
                            <li class="registration-list__item mb-1"> На б\у автомобиль</li>
                            <li class="registration-list__item"> Автомобиль в лизинг</li>
                        </ul>
                    </div>

                    <div class="registration-contents-element__item d-flex flex-column align-items-start">
                        <h4 class="registrations-contents__title mb-3">Ипотечный кредит</h4>
                        <ul class="registration-list ps-3">
                            <li class="registration-list__item mb-1">На новую квартиру</li>
                            <li class="registration-list__item">На вторичный рынок</li>
                        </ul>
                    </div>

                    <div class="registration-contents-element__item mb-0 d-flex flex-column align-items-start">
                        <h4 class="registrations-contents__title mb-3">Рефинансирование</h4>
                        <ul class="registration-list ps-3">
                            <li class="registration-list__item mb-1">С просроченными кредитами</li>
                            <li class="registration-list__item mb-1">С ипотеками</li>
                            <li class="registration-list__item mb-1">С автокредитами</li>
                            <li class="registration-list__item">С залогами</li>
                        </ul>
                    </div>
                </div>
            </div>
            <button class="btn-general btn-registration mx-auto" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">Оформить кредит</button>
        </div>
    </div>
    <img class="reg-element-one position-absolute" src="img/5-registration/reg-element-one.png" alt="">
    <img class="reg-element-two position-absolute" src="img/5-registration/reg-element-two.png" alt="">
</section>