<section id="reviews" class="reviews position-relative">
    <img class="rew-money position-absolute" src="img/11-reviews/rew-money.png" alt="">
    <img class="reviews-abs position-absolute" src="img/11-reviews/reviews-abs.png" alt="">
    <div class="container">
        <div class="revievs-block">
            <h2 class="title-medium title-reviews">Отзывы<br><span>о нашей компании</span></h2>

            <div class="reviews-content d-sm-flex d-none justify-content-center flex-wrap">
                <div class="reviews-content-item m-1">
                    <a class="reviews-content-link" href="https://video.ldigital.ru/odobrenie/first-ot.mp4"
                        data-fancybox>
                        <img src="img/11-reviews/rev-one-v.jpg" alt="">
                    </a>
                    <div class="reviews-content-wrapper py-2">
                        <h2 class="video-block__title text-center mb-1">Валерий Павлов</h2>
                        <p class="video-block__date text-center">5 декабря 2020 г. </p>
                    </div>
                </div>

                <div class="reviews-content-item m-1">
                    <a class="reviews-content-link" href="https://video.ldigital.ru/odobrenie/second-ot.mp4"
                        data-fancybox>
                        <img src="img/11-reviews/rev-two-v.jpg" alt="">
                    </a>
                    <div class="reviews-content-wrapper py-2">
                        <h2 class="video-block__title text-center mb-1">Евгений Степанов</h2>
                        <p class="video-block__date text-center">20 декабря 2020 г. </p>
                    </div>
                </div>

                <div class="reviews-content-item m-1">
                    <a class="reviews-content-link" href="https://video.ldigital.ru/odobrenie/thirt-ot.mp4"
                        data-fancybox>
                        <img src="img/11-reviews/rev-three-v.jpg" alt="">
                    </a>
                    <div class="reviews-content-wrapper py-2">
                        <h2 class="video-block__title text-center mb-1">Анастасия Борисова</h2>
                        <p class="video-block__date text-center">12 января 2021 г.</p>
                    </div>
                </div>

                <div class="reviews-content-item m-1">
                    <a class="reviews-content-link" href="https://video.ldigital.ru/odobrenie/fours-ot.mp4"
                        data-fancybox>
                        <img src="img/11-reviews/rev-four-v.jpg" alt="">
                    </a>
                    <div class="reviews-content-wrapper py-2">
                        <h2 class="video-block__title text-center mb-1">Елена Потапова</h2>
                        <p class="video-block__date text-center">5 декабря 2020 г. </p>
                    </div>
                </div>
            </div>

            <div class="slider-rev swiper-container d-sm-none d-flex">
                <div class="rev-wrapper swiper-wrapper">
                    <div class="rev-slide swiper-slide">
                        <div class="reviews-content-item m-1">
                            <a class="reviews-content-link" href="https://video.ldigital.ru/odobrenie/first-ot.mp4"
                                data-fancybox>
                                <img src="img/11-reviews/rev-one-v.jpg" alt="">
                            </a>
                            <div class="reviews-content-wrapper py-2">
                                <h2 class="video-block__title text-center mb-1">Валерий Павлов</h2>
                                <p class="video-block__date text-center">5 декабря 2019 г.</p>
                            </div>
                        </div>
                    </div>
                    <div class="endorsement-slide swiper-slide">
                        <div class="reviews-content-item m-1">
                            <a class="reviews-content-link" href="https://video.ldigital.ru/odobrenie/second-ot.mp4"
                                data-fancybox>
                                <img src="img/11-reviews/rev-two-v.jpg" alt="">
                            </a>
                            <div class="reviews-content-wrapper py-2">
                                <h2 class="video-block__title text-center mb-1">Евгений Степанов</h2>
                                <p class="video-block__date text-center">20 декабря 2020 г.</p>
                            </div>
                        </div>
                    </div>
                    <div class="endorsement-slide swiper-slide">
                        <div class="reviews-content-item m-1">
                            <a class="reviews-content-link" href="https://video.ldigital.ru/odobrenie/thirt-ot.mp4"
                                data-fancybox>
                                <img src="img/11-reviews/rev-three-v.jpg" alt="">
                            </a>
                            <div class="reviews-content-wrapper py-2">
                                <h2 class="video-block__title text-center mb-1">Анастасия Борисова</h2>
                                <p class="video-block__date text-center">12 января 2021 г.</p>
                            </div>
                        </div>
                    </div>
                    <div class="endorsement-slide swiper-slide">
                        <div class="reviews-content-item m-1">
                            <a class="reviews-content-link" href="https://video.ldigital.ru/odobrenie/fours-ot.mp4"
                                data-fancybox>
                                <img src="img/11-reviews/rev-four-v.jpg" alt="">
                            </a>
                            <div class="reviews-content-wrapper py-2">
                                <h2 class="video-block__title text-center mb-1">Елена Потапова</h2>
                                <p class="video-block__date text-center">5 декабря 2019 г.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
</section>